html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
      
    if title
      title= title
    else
      title Welcome

    //- STYLES
    link(rel='stylesheet', href='#{config.public.css}main.css')
      
    //- SCRIPTS
    script(src='#{config.public.js}main.min.js')

  body
